{% assign nav_links = site.data.navigation.main %}
{% assign home_label = "Homepage" %}
{% assign home_url = "/" %}
{% if page.lang == "zh" %}
  {% assign nav_links = site.data.navigation_zh.main %}
  {% assign home_label = "主页" %}
  {% assign home_url = "/zh/" %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ home_url }}">{{ home_label }}</a></li>
          {% for link in nav_links %}
            <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if page.lang_switch_url %}
            <li class="masthead__menu-item masthead__menu-item--lang"><a class="lang-switch" href="{{ page.lang_switch_url }}">{{ page.lang_switch_label }}</a></li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
